{% extends "commonbaseadmin.html" %} {% block content %}

<style>
	h1,
	td {
		color: rgb(21, 22, 22);
		padding: 15px;
	}
	input {
		background-color: rgb(192, 219, 228);
		height: 50px;
		/* border-radius: 2.5em;  */
		border-style: none;
		font-size: 15px;
	}
	input[type='password'] {
		/* color: black; */
		background-color: rgb(192, 219, 228);
		height: 50px;
		/* border-radius: 2.5em; */
		font-size: 15px;
		/* border-color: rgb(15, 15, 15); */
		border-style: none;
	}
	input[type='email'] {
		/* color: black; */
		background-color: rgb(192, 219, 228);
		height: 50px;
		/* border-radius: 2.5em;  */
		font-size: 15px;
		/* border-color: rgb(15, 15, 15); */
		border-style: none;
	}

	button {
		height: 40px;
		width: 90px;
		color: black;
		background-color: cornflowerblue;
		border-radius: 2em;
		border-color: aliceblue;
		margin-left: 250px;
	}

	th {
		background-color: rgb(78, 154, 173);
		color: wheat;
		padding: 10px;
	}
</style>
<div class="formstyle">
	<center>
		<br />
		<br />
		<h1>Add Course</h1>
		<br />
		<div class="col-12">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table>
					<tr>
						<td>
							<select name="dept" class="form-control" id="">
								<option value="" selected disabled>Select Department</option>
								{% for d in dept %}
								<option value="{{d.id}}">{{d.department}}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<input
								type="text"
								class="form-control"
								placeholder="Course"
								required
								name="course"
							/>
						</td>
					</tr>

					<tr>
						<td class="">
							<button color="black"><b>ADD</b></button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</center>
	<br />
	<br /><br /><br /><br /><br />
</div>
{% if data %}
<table
	id="tb"
	style="
		width: 50%;
		border-collapse: separate;
		margin: auto;
		text-align: center;
	"
	align="center"
>
	<tr>
		<!-- <th>ID</th> -->

		<th class="text-center">DEPARTMENT</th>
		<th class="text-center">COURSE</th>
		<th class="text-center" colspan="2">ACTION</th>
	</tr>
	{% for s in data %}
	<tr>
		<!-- <td style="padding: 30px;">{{s.id}}</td> -->

		<td>{{s.department.department}}</td>
		<td>{{s.course}}</td>
		<td><a href="/editcourse?id={{s.id}}" title="Edit">Update</a></td>
		<td><a href="/deletecourse?id={{s.id}}" title="Delete">Delete</a></td>

		<!-- <td><a href="/adminupdateexamdt?id={{s.id}}" style="color:darkgoldenrod">Update</a></td> -->
	</tr>
	{% endfor %}
</table>
{% endif %} {% if messages %} {% for msg in messages %}
<script>
	alert('{{msg}}');
</script>
{% endfor %} {% endif %} {% endblock %}
